:root {
    --primary-color: #3498db;
    --secondary-color: #2ecc71;
    --neutral-color: #95a5a6;
    --warning-color: #f39c12;
    --error-color: #e74c3c;
    --success-color: #2ecc71;

    --base-font: 'Averta', sans-serif;
    --highlight-font: 'Averta', sans-serif;

    --font-weight-light: 300;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-semi-bold: 600;
    --font-weight-bold: 700;
    --font-weight-xbold: 800;
}